## Numpy

Numpy is a numerical library that makes it easy to work with big arrays and matrices.

It can be used to make fast arithmetic operations with matrixes. Pandas and Numpy are usually used together, as Pandas builds on NumPy functionality to work with DataFrames.

Since Pandas is designed to work with Numpy, almost any Numpy function will work with Pandas Series and DataFrames, lets run some examples.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def fetch_data():
  import os, shutil
  cwd = os.getcwd()
  if os.path.exists("LSAMP_Python_Course2024"):
    shutil.rmtree("LSAMP_Python_Course2024")
  !git clone https://github.com/aliawofford9317/LSAMP_Python_Course2024.git
  for file in os.listdir("LSAMP_Python_Course2024"):
    if file.endswith((".txt",".csv")):
      shutil.copy("LSAMP_Python_Course2024/{}".format(file),cwd)
fetch_data()

Cloning into 'LSAMP_Python_Course2024'...
remote: Enumerating objects: 210, done.
remote: Counting objects: 100% (140/140), done.
remote: Compressing objects: 100% (136/136), done.
remote: Total 210 (delta 72), reused 1 (delta 1), pack-reused 70
Receiving objects: 100% (210/210), 2.48 MiB | 3.06 MiB/s, done.
Resolving deltas: 100% (108/108), done.

In [ ]:
# Create a container for a pseudo random generator
rng = np.random.RandomState()
# Create a Pandas Series from our random generator
series = pd.Series(rng.randint(0, 10, 4))
series

0    7
1    5
2    0
3    4
dtype: int64

In [ ]:
# Create a Pandas Dataframe with our Numpy random generator
# Integer numbers between 0 and 10, 3 rows and 4 columns
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                 columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  6  3  7
1  8  3  2  1
2  3  1  7  6

We can use a Numpy function on these Pandas objects and still keep our indexes for order

In [ ]:
# Calculate e^x, where x is every element of our array
np.exp(series)

0    1096.633158
1     148.413159
2       1.000000
3      54.598150
dtype: float64

In [ ]:
# Calculate sin() of every value in the DataFrame multiplied by pi and divided by 4
np.sin(df * np.pi / 4)

              A         B         C         D
0 -1.000000e+00 -1.000000  0.707107 -0.707107
1 -2.449294e-16  0.707107  1.000000  0.707107
2  7.071068e-01  0.707107 -0.707107 -1.000000

### The Numpy Array
Numpy provides mutidimentional arrays, with high efficiency and designed for scientific calculations.

An array is similar to a list in Python and can be created from a list.

Array have useful atributes we can use. Lets start by defining three random arrays, a single dimension, a two dimension and a tri dimensional array. We will use Numpy random number generator.

In [ ]:
# Import our Numpy package
import numpy as np
np.random.seed(0) #this will generate the same random arrays every time

x1 = np.random.randint(10, size=6) # one dimension
x2 = np.random.randint(10, size=(3, 4)) # two dimensions
x3 = np.random.randint(10, size=(3, 4, 5)) # tri dimensional array

All arrays have the `ndim` (number of dimensions) attribute, `shape` the size of each dimension, and `size` the total array size

In [ ]:
print("x3 ndim:", x3.ndim)
print("x3 sahpe:", x3.shape)
print("x3 size:", x3.size)

x3 ndim: 3
x3 sahpe: (3, 4, 5)
x3 size: 60

Other attributes for arrays are `itemsize` shows the byte size of every element in the array, and `nbytes` shows the total bytes size of the array:

In [ ]:
print("x3 itemsize:", x3.itemsize, "bytes")
print("x3 nbytes", x3.nbytes, "bytes")

x3 itemsize: 8 bytes
x3 nbytes 480 bytes

#### Optional Exercise
- Create a 3x3x3 array that contains all random numbers.
- Using the previous array, square all the numbers in the array.

### Creating arrays with Numpy methods
Specially for largers arrays we can use the more efficient methods from Numpy.

In [ ]:
# Create a length 10 integer array filled with zeros
np.zeros(10, dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
# Create a 3x5 float array filled with ones
np.ones((3, 5), dtype=float)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [ ]:
# Create a 3x5 array filled with 3.14
np.full((3, 5), 3.14)

array([[3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14]])

In [ ]:
# Create an array filled with a linear sequence
# Start at 0, end at 20, step size 2
np.arange(0, 20, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [ ]:
# Create an array of five values evenly spaced between 0 and 1
np.linspace(0, 1, 5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [ ]:
# Create a 3x3 array of uniformly distributed random values between 0 and 1
np.random.random((3, 3))

array([[0.65279032, 0.63505887, 0.99529957],
       [0.58185033, 0.41436859, 0.4746975 ],
       [0.6235101 , 0.33800761, 0.67475232]])

In [ ]:
# Create a 3x3 array of normally distributed random values
# with mean 0 and standard deviation 1
np.random.normal(0, 1, (3, 3))

array([[ 1.0657892 , -0.69993739,  0.14407911],
       [ 0.3985421 ,  0.02686925,  1.05583713],
       [-0.07318342, -0.66572066, -0.04411241]])

In [ ]:
# Create a 3x3 array of random integer in the interval [0, 10]
np.random.randint(0, 10, (3, 3))

array([[7, 2, 9],
       [2, 3, 3],
       [2, 3, 4]])

In [ ]:
# Create a 3x3 identity matrix
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
# Create an uninitialized array of three integers
# The values will be whatever happens to already exist at that memory location
np.empty(3)

array([1., 1., 1.])

#### Array indexing
Similar to Python lists we can access individual elements in the array. For single dimensional arrays we can use the indexing format using `[]`

In [ ]:
x1

array([5, 0, 3, 3, 7, 9])

In [ ]:
x1[0]

5

In [ ]:
x1[4]

7

In [ ]:
x1[-6]

5

We can use a similar logic for multi dimensional arrays

In [ ]:
x2

array([[3, 5, 2, 4],
       [7, 6, 8, 8],
       [1, 6, 7, 7]])

In [ ]:
x2[0, 3] # Access row 0, column index 3

4

In [ ]:
x2[2, -1] # Access row index 2, column index -1

7

We can use the same logic to change values using array indexing

In [ ]:
x2[2, -1] = 2

#### Optional Exercise
- Create a new array using `arange` this array should contain a total of 4 values.
- Select only values in index 2 and index 4.
- Change the value of index 3 to 99

In [ ]:
import numpy as np
array = np.arange(4)

selected_values = array[[2, 3]]

array[3] = 99

print("Array:", array)
print("Selected values at indexes 2 and 4:", selected_values)

Array: [ 0  1  2 99]
Selected values at indexes 2 and 4: [2 3]

#### Sub arrays (slicing)
We can also use a similar syntax to Python list slicing to access only parts of the array. The syntax goes as follows:

`x[start:stop:step]`
Where default start value = 0, stop is the non inclusive stop index, and step the number of items we want to count

In [ ]:
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
x[:5] # first five elements

array([0, 1, 2, 3, 4])

In [ ]:
x[5:] # elements starting from the fifth index

array([5, 6, 7, 8, 9])

In [ ]:
x[4:7] # elements between 4 and non inclusive 7

array([4, 5, 6])

In [ ]:
x[::2] # all elements but step size 2

array([0, 2, 4, 6, 8])

In [ ]:
x[1::2] # elements every two steps, starting from index 1

array([1, 3, 5, 7, 9])

We can also use negative step index. In this case the default start and stop values are inverted. This makes it a convenient way to invert an array.

In [ ]:
x[::-1] # reverse the array

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [ ]:
x[5::-2] # inverted array starting from the fifth index at minus two step interval

array([5, 3, 1])

We can also select multi dimension sectors of an array. The syntax is similar, with every sector separated by a comma

In [ ]:
x2

array([[3, 5, 2, 4],
       [7, 6, 8, 8],
       [1, 6, 7, 2]])

In [ ]:
x2[:2, :3] # rows with index 0 and 1, and columns with index 0, 1 and 2

array([[3, 5, 2],
       [7, 6, 8]])

In [ ]:
x2[:3, ::2] # all rows but step size 2

array([[3, 2],
       [7, 8],
       [1, 7]])

#### Reshaping arrays
Another useful operation is reshaping, we can use the `reshape()` method. If we wanted to reshape an array by a 3 x 3 array we can use the following syntax

In [ ]:
grid = np.arange(1, 10).reshape((3, 3))
grid

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

For this to work the size of the initial array must match the reshaped array.

Another common form of reshaping is converting an unidimensional array of rows or columns. We can either use `reshape` or the `nexaxis` keyword inside a slicing operation

In [ ]:
x = np.array([1, 2, 3])

# row vector via reshape
x.reshape(1, 3)

array([[1, 2, 3]])

In [ ]:
# row vector via newaxis
x[np.newaxis, :]

array([[1, 2, 3]])

In [ ]:
# column vector via reshape
x.reshape((3, 1))

array([[1],
       [2],
       [3]])

In [ ]:
# column vector via newaxis
x[:, np.newaxis]

array([[1],
       [2],
       [3]])

#### Optional exercise
- Create a new 4x4 array.
- Select and print only the first two rows.
- Select and print only the last two columns.
- Select only the last two rows and first two columns.
- Reshape the array into a 8x2 array.

In [ ]:
import numpy as np

array = np.arange(1, 17).reshape(4, 4)

first_two_rows = array[:2, :]
print("First two rows:\n", first_two_rows)

last_two_columns = array[:, -2:]
print("Last two columns:\n", last_two_columns)

last_two_rows_first_two_columns = array[-2:, :2]
print("Last two rows and first two columns:\n", last_two_rows_first_two_columns)

reshaped_array = array.reshape(8, 2)
print("Reshaped array (8x2):\n", reshaped_array)

First two rows:
 [[1 2 3 4]
 [5 6 7 8]]
Last two columns:
 [[ 3  4]
 [ 7  8]
 [11 12]
 [15 16]]
Last two rows and first two columns:
 [[ 9 10]
 [13 14]]
Reshaped array (8x2):
 [[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]
 [11 12]
 [13 14]
 [15 16]]

#### Array concatenation and division
We can also combine multiple arrays into one and vice versa

Concatenation can be achieved using the `np.concatenate`, `np.vstack` and `np.hstack`. `np.concatenate` takes a list of arrays as its first argument

In [ ]:
x = np.array([1, 2, 3]) # create an array from a list
y = np.array([3, 2, 1]) # create a second array from a list
np.concatenate([x, y]) # array list to concatenate

In [ ]:
# we can concatenate more than one array at a time
z = [99, 88, 77]
print(np.concatenate([x, y, z]))

We can use the same logic for multidimensional arrays

In [ ]:
grid = np.array([[1, 2, 3],
                [4, 5, 6]])
np.concatenate([grid, grid]) # concatenate on the first axis. Rows

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [ ]:
grid

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
# Concatenate on the second axis (zero indexed)
np.concatenate([grid, grid], axis=1) # concatenate on columns

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

To work with diferent sized arrays it may be easier to work with `np.vstack` vertical stack, and `np.hstack` horizontal stack

In [ ]:
x = np.array([1, 2, 3])
grid = np.array([[9, 8, 7],
                [6, 5, 4]])
# stack vertically
np.vstack([x, grid])

array([[1, 2, 3],
       [9, 8, 7],
       [6, 5, 4]])

In [ ]:
# stack horizontally
y = np.array([[99],
              [99]])
np.hstack([grid, y])

array([[ 9,  8,  7, 99],
       [ 6,  5,  4, 99]])

#### Split arrays
Finally we can split arrays using the `np.split`, `np.hplit` and `np.vsplit`. For each of these we need to pass a list of indexes that divide/split our array

In [ ]:
x = [1, 2, 3, 99, 88, 77, 4, 5, 6]
x1, x2, x3 = np.split(x, [3, 5]) # split at index 3 and 5, non inclusive
print(x1, x2, x3)

[1 2 3] [99 88] [77  4  5  6]

Observe that N division/split points lead to N + 1 sub arrays. Similarly `np.hsplit` and `np.vsplit` can be used

In [ ]:
grid = np.arange(16).reshape((4, 4))

In [ ]:
grid

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [ ]:
upper, lower = np.vsplit(grid, [2])
print(upper)
print(lower)

[[0 1 2 3]
 [4 5 6 7]]
[[ 8  9 10 11]
 [12 13 14 15]]

In [ ]:
left, right = np.hsplit(grid, [2])
print(left)
print(right)

[[ 0  1]
 [ 4  5]
 [ 8  9]
 [12 13]]
[[ 2  3]
 [ 6  7]
 [10 11]
 [14 15]]

### Universal Functions
Next we will look at why Numpy is important for data science and working with arrays.

The key to making computation with Numpy very fast is using vectorized operations with Numpy, they key to this is using Numpy Universal Functions.

Here is a speed comparison between a traditional for loop and a vectorized operation in Numpy using and array that contains a million values.

In [ ]:
# Traditional implementation
import numpy as np
np.random.seed(0)

def compute_reciprocals(values):
    output = np.empty(len(values))
    for i in range(len(values)):
        output[i] = 1.0 / values[i]
    return output

values = np.random.randint(1, 10, size=5)
compute_reciprocals(values)

array([0.16666667, 1.        , 0.25      , 0.25      , 0.125     ])

In [ ]:
big_array = np.random.randint(1, 100, size=1000000)
%timeit compute_reciprocals(big_array)

2.01 s  340 ms per loop (mean  std. dev. of 7 runs, 1 loop each)

The code above takes several seconds to run. Lets run it now with a vectorized operation.

In [ ]:
print(compute_reciprocals(values))
print(1.0 / values)

[0.16666667 1.         0.25       0.25       0.125     ]
[0.16666667 1.         0.25       0.25       0.125     ]

In [ ]:
%timeit (1.0 / big_array)

1.61 ms  225 s per loop (mean  std. dev. of 7 runs, 1000 loops each)

We can see that each loop and the consequent total execution time is orders of magnitude faster that the first iteration. Vectorized operations are implemented via ufuncs whose main function is to exectute repeteated operations on values in Numpy arrays.

Ufuncs (universal functions) can run between scalars and arrays, two arrays, and multi dimensional arrays.

In [ ]:
np.arange(5) / np.arange(1, 6)

array([0.        , 0.5       , 0.66666667, 0.75      , 0.8       ])

In [ ]:
# multidimensional example
x = np.arange(9).reshape((3, 3))
2 ** x

array([[  1,   2,   4],
       [  8,  16,  32],
       [ 64, 128, 256]])

### Numpy UFuncs
#### Array arithmetic
We have standard addition, substraction, multiplication and division

In [ ]:
x = np.arange(4)
print("x     =", x)
print("x + 5 =", x + 5)
print("x - 5 =", x - 5)
print("x * 2 =", x * 2)
print("x / 2 =", x / 2)
print("x // 2 =", x // 2)  # floor division

x     = [0 1 2 3]
x + 5 = [5 6 7 8]
x - 5 = [-5 -4 -3 -2]
x * 2 = [0 2 4 6]
x / 2 = [0.  0.5 1.  1.5]
x // 2 = [0 0 1 1]

In [ ]:
# unary functions for negation, exponentiation, and modulus
print("-x     = ", -x)
print("x ** 2 = ", x ** 2)
print("x % 2  = ", x % 2)

-x     =  [ 0 -1 -2 -3]
x ** 2 =  [0 1 4 9]
x % 2  =  [0 1 0 1]

All these arithmetic operations are wrappers for Numpy functions

|Operator|	Equivalent ufunc |	Description |
|:--------:|:--------|:--------|
|+ |	np.add	| Addition (e.g., 1 + 1 = 2) |
|- |	np.subtract | Subtraction (e.g., 3 - 2 = 1)
|- |	np.negative |	Unary negation (e.g., -2)
|* |	np.multiply |	Multiplication (e.g., 2 * 3 = 6)
|/ |	np.divide |	Division (e.g., 3 / 2 = 1.5)
|// |	np.floor_divide |	Floor division (e.g., 3 // 2 = 1)
|** |	np.power |	Exponentiation (e.g., 2 ** 3 = 8)
|% |	np.mod |	Modulus/remainder (e.g., 9 % 4 = 1)

#### Trigonometric functions
We will explore trigonometric functions. Lets start by defining an array of angles.

In [ ]:
theta = np.linspace(0, np.pi, 3)

In [ ]:
print("theta      = ", theta)
print("sin(theta) = ", np.sin(theta))
print("cos(theta) = ", np.cos(theta))
print("tan(theta) = ", np.tan(theta))

theta      =  [0.         1.57079633 3.14159265]
sin(theta) =  [0.0000000e+00 1.0000000e+00 1.2246468e-16]
cos(theta) =  [ 1.000000e+00  6.123234e-17 -1.000000e+00]
tan(theta) =  [ 0.00000000e+00  1.63312394e+16 -1.22464680e-16]

In [ ]:
# inverse functions
x = [-1, 0, 1]
print("x         = ", x)
print("arcsin(x) = ", np.arcsin(x))
print("arccos(x) = ", np.arccos(x))
print("arctan(x) = ", np.arctan(x))

x         =  [-1, 0, 1]
arcsin(x) =  [-1.57079633  0.          1.57079633]
arccos(x) =  [3.14159265 1.57079633 0.        ]
arctan(x) =  [-0.78539816  0.          0.78539816]

#### Exponents and logarithms

In [ ]:
x = [1, 2, 3]
print("x     =", x)
print("e^x   =", np.exp(x))
print("2^x   =", np.exp2(x))
print("3^x   =", np.power(3, x))

x     = [1, 2, 3]
e^x   = [ 2.71828183  7.3890561  20.08553692]
2^x   = [2. 4. 8.]
3^x   = [ 3  9 27]

In [ ]:
# log functions
x = [1, 2, 4, 10]
print("x        =", x)
print("ln(x)    =", np.log(x))
print("log2(x)  =", np.log2(x))
print("log10(x) =", np.log10(x))

x        = [1, 2, 4, 10]
ln(x)    = [0.         0.69314718 1.38629436 2.30258509]
log2(x)  = [0.         1.         2.         3.32192809]
log10(x) = [0.         0.30103    0.60205999 1.        ]

#### Agregates
We can reduce array operations of any ufunc. A reduce repeatedly applies a given operation to the elements of the array until a single result remains.

Calling `reduce` on the `add` ufunc results in the sum of all elements in the array

In [ ]:
x = np.arange(1, 6)
np.add.reduce(x)

15

In [ ]:
x

array([1, 2, 3, 4, 5])

In [ ]:
# calling reduce on multiply
# results in the product of all array elements
np.multiply.reduce(x)

120

In [ ]:
# if we would like to store all the intermediate results
# we can use accumulate instead
np.add.accumulate(x)

array([ 1,  3,  6, 10, 15])

In [ ]:
np.multiply.accumulate(x)

array([  1,   2,   6,  24, 120])

### Exercises for participation credit
1. Create a new random integer array with Numpy functions. Use a random seed to guarantee the same array every time. Array must be of size (20, 5).
2. Calculate the average value of the second column of the array created in exercise 1. Calculate the sum of all elements in columns 3 and 4. You can use built in ufuncs and indexing.

We will now use a simple IoT readings dataset for this exercise. This dataset contains IoT temperature readings, where the reading was made (room) and location (reading was outside or inside a room).

3. Open the data file `IOT-temp.csv` inside the `iotdata-compressed` file, you will need some program like 7zip or Winrar to uncompress this `iotdata-compressed` folder. Open this file with Pandas and create a new Dataframe with this data. Show the first 10 rows of data. Show the last 10 rows of data. Show data points for index 300 to 350.
4. Create a new dataframe from index 1000 to 2000. Rename column `out/in` to `location`. Rename colum `room_id/id` to `room` How many of these readings were made outside? How many were inside?
5. Split your new dataframe into readings that were made inside and readings that were made outside. Create a new dataframe with only inside readings. Create a new dataframe only with outside readings. Print the mean value of the temperature for both new dataframes.
6. Save both dataframes created in exercise 5 to `csv` files.

More information about the dataset for exercises 3 and 4 in [this link](https://www.kaggle.com/datasets/atulanandjha/temperature-readings-iot-devices)

In [ ]:
import zipfile
import pandas as pd
import numpy as np
from google.colab import files

uploaded = files.upload()

zip_file_name = 'archive.zip'

with zipfile.ZipFile(zip_file_name, 'r') as zip_ref:
    zip_ref.extractall()

csv_file_name = 'IOT-temp.csv'
df = pd.read_csv(csv_file_name)


np.random.seed(42)

random_array = np.random.randint(1, 101, size=(20, 5))

average_second_column = np.mean(random_array[:, 1])

sum_columns_3_and_4 = np.sum(random_array[:, 2]) + np.sum(random_array[:, 3])

print("Average of the second column:", average_second_column)
print("Sum of all elements in columns 3 and 4:", sum_columns_3_and_4)

print("First 10 rows of data:")
print(df.head(10))

print("Last 10 rows of data:")
print(df.tail(10))

print("Data points for index 300 to 350:")
print(df.iloc[300:351])

new_df = df.iloc[1000:2001].copy()

new_df.rename(columns={'out/in': 'location', 'room_id/id': 'room'}, inplace=True)

outside_readings_count = new_df[new_df['location'] == 'out'].shape[0]
inside_readings_count = new_df[new_df['location'] == 'in'].shape[0]

print("Number of outside readings:", outside_readings_count)
print("Number of inside readings:", inside_readings_count)

inside_readings = new_df[new_df['location'] == 'in']
outside_readings = new_df[new_df['location'] == 'out']

mean_inside_temp = inside_readings['temp'].mean()

mean_outside_temp = outside_readings['temp'].mean()

print("Mean temp for inside readings:", mean_inside_temp)
print("Mean temp for outside readings:", mean_outside_temp)

inside_csv_file_path = 'inside_readings.csv'
inside_readings.to_csv(inside_csv_file_path, index=False)

outside_csv_file_path = 'outside_readings.csv'
outside_readings.to_csv(outside_csv_file_path, index=False)

Saving archive.zip to archive (3).zip
Average of the second column: 49.75
Sum of all elements in columns 3 and 4: 2234
First 10 rows of data:
                                    id  room_id/id        noted_date  temp  \
0  __export__.temp_log_196134_bd201015  Room Admin  08-12-2018 09:30    29
1  __export__.temp_log_196131_7bca51bc  Room Admin  08-12-2018 09:30    29
2  __export__.temp_log_196127_522915e3  Room Admin  08-12-2018 09:29    41
3  __export__.temp_log_196128_be0919cf  Room Admin  08-12-2018 09:29    41
4  __export__.temp_log_196126_d30b72fb  Room Admin  08-12-2018 09:29    31
5  __export__.temp_log_196125_b0fa0b41  Room Admin  08-12-2018 09:29    31
6  __export__.temp_log_196121_01544d45  Room Admin  08-12-2018 09:28    29
7  __export__.temp_log_196122_f8b80a9f  Room Admin  08-12-2018 09:28    29
8  __export__.temp_log_196111_6b7a0848  Room Admin  08-12-2018 09:26    29
9  __export__.temp_log_196112_e134aebd  Room Admin  08-12-2018 09:26    29

  out/in
0     In
1     In
2    Out
3    Out
4     In
5     In
6     In
7     In
8     In
9     In
Last 10 rows of data:
                                        id  room_id/id        noted_date  \
97596  __export__.temp_log_111718_05b8d88d  Room Admin  28-07-2018 07:07
97597   __export__.temp_log_96677_28b0568f  Room Admin  28-07-2018 07:07
97598  __export__.temp_log_110269_898976fc  Room Admin  28-07-2018 07:07
97599  __export__.temp_log_124155_da310d7b  Room Admin  28-07-2018 07:07
97600  __export__.temp_log_121414_9004c748  Room Admin  28-07-2018 07:07
97601   __export__.temp_log_91076_7fbd08ca  Room Admin  28-07-2018 07:07
97602  __export__.temp_log_147733_62c03f31  Room Admin  28-07-2018 07:07
97603  __export__.temp_log_100386_84093a68  Room Admin  28-07-2018 07:06
97604  __export__.temp_log_123297_4d8e690b  Room Admin  28-07-2018 07:06
97605  __export__.temp_log_133741_32958703  Room Admin  28-07-2018 07:06

       temp out/in
97596    32    Out
97597    31     In
97598    31     In
97599    32    Out
97600    31     In
97601    31     In
97602    31     In
97603    31     In
97604    31     In
97605    31     In
Data points for index 300 to 350:
                                      id  room_id/id        noted_date  temp  \
300  __export__.temp_log_195177_d33112e6  Room Admin  08-12-2018 04:20    36
301  __export__.temp_log_195176_b9e9dbb5  Room Admin  08-12-2018 04:19    36
302  __export__.temp_log_195175_07586658  Room Admin  08-12-2018 04:19    29
303  __export__.temp_log_195174_72be5b21  Room Admin  08-12-2018 04:19    29
304  __export__.temp_log_195167_e8fa1d81  Room Admin  08-12-2018 04:18    36
305  __export__.temp_log_195166_abde5476  Room Admin  08-12-2018 04:17    36
306  __export__.temp_log_195165_99840a1c  Room Admin  08-12-2018 04:17    29
307  __export__.temp_log_195164_4ff2549b  Room Admin  08-12-2018 04:17    29
308  __export__.temp_log_195158_b42b3e8b  Room Admin  08-12-2018 04:16    37
309  __export__.temp_log_195159_f47207dc  Room Admin  08-12-2018 04:15    37
310  __export__.temp_log_195153_1fbbf291  Room Admin  08-12-2018 04:14    37
311  __export__.temp_log_195152_0912cefe  Room Admin  08-12-2018 04:14    37
312  __export__.temp_log_195146_7b25971b  Room Admin  08-12-2018 04:11    29
313  __export__.temp_log_195147_1be17b84  Room Admin  08-12-2018 04:11    29
314  __export__.temp_log_195139_3ae05a53  Room Admin  08-12-2018 04:09    29
315  __export__.temp_log_195138_4c528c59  Room Admin  08-12-2018 04:09    29
316  __export__.temp_log_195132_88aa5b76  Room Admin  08-12-2018 04:08    36
317  __export__.temp_log_195133_2e87c162  Room Admin  08-12-2018 04:08    36
318  __export__.temp_log_195131_f2bc3d99  Room Admin  08-12-2018 04:07    29
319  __export__.temp_log_195130_e2128775  Room Admin  08-12-2018 04:07    29
320  __export__.temp_log_195119_950652c4  Room Admin  08-12-2018 04:04    36
321  __export__.temp_log_195118_818af56d  Room Admin  08-12-2018 04:04    36
322  __export__.temp_log_195117_0310e550  Room Admin  08-12-2018 04:03    29
323  __export__.temp_log_195116_d31657b9  Room Admin  08-12-2018 04:03    29
324  __export__.temp_log_195114_0302145d  Room Admin  08-12-2018 04:03    30
325  __export__.temp_log_195115_7de36953  Room Admin  08-12-2018 04:03    30
326  __export__.temp_log_195109_8368b845  Room Admin  08-12-2018 04:02    36
327  __export__.temp_log_195108_1520c580  Room Admin  08-12-2018 04:02    36
328  __export__.temp_log_195107_e9bd831a  Room Admin  08-12-2018 04:01    29
329  __export__.temp_log_195106_1161a490  Room Admin  08-12-2018 04:01    29
330  __export__.temp_log_195099_94fff493  Room Admin  08-12-2018 04:00    36
331  __export__.temp_log_195098_6d37924f  Room Admin  08-12-2018 04:00    36
332  __export__.temp_log_195097_7fb4f591  Room Admin  08-12-2018 03:59    29
333  __export__.temp_log_195096_206056de  Room Admin  08-12-2018 03:59    29
334  __export__.temp_log_195091_b1536e7c  Room Admin  08-12-2018 03:59    30
335  __export__.temp_log_195090_a0dcc099  Room Admin  08-12-2018 03:59    30
336  __export__.temp_log_195088_79fc3ddd  Room Admin  08-12-2018 03:58    36
337  __export__.temp_log_195089_c24769a4  Room Admin  08-12-2018 03:58    36
338  __export__.temp_log_195087_2785ae71  Room Admin  08-12-2018 03:57    29
339  __export__.temp_log_195086_09d4d68c  Room Admin  08-12-2018 03:57    29
340  __export__.temp_log_195083_ea67bfee  Room Admin  08-12-2018 03:55    29
341  __export__.temp_log_195082_07be8615  Room Admin  08-12-2018 03:55    29
342  __export__.temp_log_195076_e7d5b616  Room Admin  08-12-2018 03:54    36
343  __export__.temp_log_195077_fe2b50d1  Room Admin  08-12-2018 03:54    36
344  __export__.temp_log_195075_9de50453  Room Admin  08-12-2018 03:53    29
345  __export__.temp_log_195074_8841b10a  Room Admin  08-12-2018 03:53    29
346  __export__.temp_log_195071_7362ce83  Room Admin  08-12-2018 03:53    30
347  __export__.temp_log_195069_1cc7bf5d  Room Admin  08-12-2018 03:53    30
348  __export__.temp_log_195066_732e758f  Room Admin  08-12-2018 03:51    29
349  __export__.temp_log_195067_02305247  Room Admin  08-12-2018 03:51    29
350  __export__.temp_log_195063_41d106fd  Room Admin  08-12-2018 03:50    35

    out/in
300    Out
301    Out
302     In
303     In
304    Out
305    Out
306     In
307     In
308    Out
309    Out
310    Out
311    Out
312     In
313     In
314     In
315     In
316    Out
317    Out
318     In
319     In
320    Out
321    Out
322     In
323     In
324     In
325     In
326    Out
327    Out
328     In
329     In
330    Out
331    Out
332     In
333     In
334     In
335     In
336    Out
337    Out
338     In
339     In
340     In
341     In
342    Out
343    Out
344     In
345     In
346     In
347     In
348     In
349     In
350    Out
Number of outside readings: 0
Number of inside readings: 0
Mean temp for inside readings: nan
Mean temp for outside readings: nan