<a href="https://colab.research.google.com/github/aliawofford9317/LSAMP_Python_Course2024/blob/Ibeth818/Copy_of_Lesson_3a_Opening_and_Manipulating_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Opening and reading different file types

Python allows us to read and write to different file types such as .txt, .csv, FITs.

Lets start by reading and writing to .txt files

Python includes the `open()` function, it has different paramenters:
- 'r' read, opens the file, return an error if not found.
- 'a' append, open the file to write at the end of the file, it will not overwrite.
- 'w' write, writes over the existing file, create a new file if not found.
- 'x' create, creates a new file, returns an error if not found.

Included with this lesson there is a .txt file named 'planetary_data.txt', we will use this file for our example.

In [25]:
def fetch_data():
  import os, shutil
  cwd = os.getcwd()
  if os.path.exists("LSAMP_Python_Course2024"):
    shutil.rmtree("LSAMP_Python_Course2024")
  !git clone https://github.com/aliawofford9317/LSAMP_Python_Course2024.git
  for file in os.listdir("LSAMP_Python_Course2024"):
    if file.endswith((".txt",".csv")):
      shutil.copy("LSAMP_Python_Course2024/{}".format(file),cwd)
fetch_data()

Cloning into 'LSAMP_Python_Course2024'...
remote: Enumerating objects: 132, done.
remote: Counting objects: 100% (62/62), done.
remote: Compressing objects: 100% (60/60), done.
remote: Total 132 (delta 32), reused 1 (delta 1), pack-reused 70
Receiving objects: 100% (132/132), 1.39 MiB | 4.92 MiB/s, done.
Resolving deltas: 100% (68/68), done.

This block

In [26]:
import os
os.getcwd

In [27]:
data = open('planetary_data.txt')

In [ ]:
# Object wrapper
data

In [ ]:
data.read()

"Mercury,\tVenus,\tEarth,\tMars,\tJupiter\t\nMean distance from Sun (millions of kilometers),\t57.9,\t108.2,\t149.6,\t227.9,\t778.3\n\t\t\t\t\t\nMean distance from Sun\t36\t67.24\t92.9\t141.71\t483.88\t\t\t\t\t\t\nPeriod of revolution\t88 days\t224.7 days\t365.2 days\t687 days\t11.86 yrs\nInclination of axis\tNear 0°\t3°\t23°27'\t25° 12'\t3° 5'\nInclination of orbit\t7°\t3.4°\t0°\t1.9°\t1.3°\t\t\t\t\t\nEccentricity of orbit\t0.206\t0.007\t0.017\t0.093\t0.048\nEquatorial diameter\t4.880,\t12.100,\t12.756,\t6.794,\t142.800\t\t\t\t\t\nAtmosphere (main components),\tVirtually none,\tCarbon dioxideNitrogenOxygen\tCarbon dioxide,\tHydrogen, helium\t"

In [ ]:
# Read the first 10 characters
data = open('planetary_data.txt')
data.read(10)

'Mercury,\tV'

In [ ]:
# Read a line
data = open('planetary_data.txt')
data.readline()

'Mercury,\tVenus,\tEarth,\tMars,\tJupiter\t\n'

In [ ]:
# Read line by line
data = open('planetary_data.txt')
for x in data:
    print(x)

Mercury,	Venus,	Earth,	Mars,	Jupiter

Mean distance from Sun (millions of kilometers),	57.9,	108.2,	149.6,	227.9,	778.3



Mean distance from Sun	36	67.24	92.9	141.71	483.88

Period of revolution	88 days	224.7 days	365.2 days	687 days	11.86 yrs

Inclination of axis	Near 0°	3°	23°27'	25° 12'	3° 5'

Inclination of orbit	7°	3.4°	0°	1.9°	1.3°

Eccentricity of orbit	0.206	0.007	0.017	0.093	0.048

Equatorial diameter	4.880,	12.100,	12.756,	6.794,	142.800

Atmosphere (main components),	Virtually none,	Carbon dioxideNitrogenOxygen	Carbon dioxide,	Hydrogen, helium

In [ ]:
# Close the reference to the object
data.close()

Lets open a second txt file, which does not include so much text. Open the file called `planetary_data_2.txt`

In [ ]:
# Open our second txt file
planets = open('planetary_data_2.txt')
planets.read()

'Body, Radius (km), Mass (10e21 kg), Density (g/cm3), Gravity (m/s2)\nMercury, 2439.4, 60.83, 330.11, 5.4291, 3.70\nVenus,\t6052, 928.43, 4867.5, 5.243, 8.87\nEarth,\t6371.0084, 1083.21, 5972.4, 5.5136, 9.8\t\nMars, 3389.5, 163.18, 641.71, 3.9341, 3.71\nJupiter, 69911, 1431280, 1898187, 1.3262, 24.79'

Let try to split the radii of planets using the `line.split()` method, this will split or separate our data where an occurrence of a string is found, in this case we will use a comma to split our characters.

In [ ]:
bodies = []
radii = []

planets = open('planetary_data_2.txt')

for line in planets:
    splitLine = line.split(',')
    print(splitLine) # print the splitted line
    print(line.strip()) # print the stripped line as String
    bodies.append(splitLine[0])
    radii.append(splitLine[1])
#bodies

['Body', ' Radius (km)', ' Mass (10e21 kg)', ' Density (g/cm3)', ' Gravity (m/s2)\n']
Body, Radius (km), Mass (10e21 kg), Density (g/cm3), Gravity (m/s2)
['Mercury', ' 2439.4', ' 60.83', ' 330.11', ' 5.4291', ' 3.70\n']
Mercury, 2439.4, 60.83, 330.11, 5.4291, 3.70
['Venus', '\t6052', ' 928.43', ' 4867.5', ' 5.243', ' 8.87\n']
Venus,	6052, 928.43, 4867.5, 5.243, 8.87
['Earth', '\t6371.0084', ' 1083.21', ' 5972.4', ' 5.5136', ' 9.8\t\n']
Earth,	6371.0084, 1083.21, 5972.4, 5.5136, 9.8
['Mars', ' 3389.5', ' 163.18', ' 641.71', ' 3.9341', ' 3.71\n']
Mars, 3389.5, 163.18, 641.71, 3.9341, 3.71
['Jupiter', ' 69911', ' 1431280', ' 1898187', ' 1.3262', ' 24.79']
Jupiter, 69911, 1431280, 1898187, 1.3262, 24.79

In [ ]:
bodies

['Body', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']

In [ ]:
radii

[' Radius (km)', ' 2439.4', '\t6052', '\t6371.0084', ' 3389.5', ' 69911']

### Short exercise 2

- Read the data from planetary_data_2.txt, split the data by planet. Create a new list for every planet and add it to a nested list called `list_planets`. This list contains a list of all the planets and its data.
- Write a script that gets an integer number from the user using `input()`.
- Return one of the planets from the list, where the index number is the number entered by the user.

In [36]:
data = open('planetary_data_2.text''r')

FileNotFoundError: [Errno 2] No such file or directory: 'planetary_data_2.textr'

## Writing to an existing file
We can use the `a` and `w` option to append and write

In [ ]:
dat = open('append.txt', 'a')
dat.write('Appending this to the end')
dat.close()
# Go check your append.txt file after this is run
# Remember to close your file if you manually open it

In [ ]:
dat = open('append.txt', 'r')
dat.read()

'Overwrite contentsAppending this to the endAppending this to the endAppending this to the endAppending this to the endAppending this to the endAppending this to the end'

In [ ]:
# Overwrites the current file
datos = open('append.txt', 'w')
datos.write('Overwrite contents')

18

In [ ]:
datos = open('append.txt', 'r')
datos.read()

''

In [ ]:
datos.close()

### Short exercise
Create a script that writes numbers from 1 to 100, line by line to a text file.

In [32]:
magic_command 1 lines 100 >

SyntaxError: invalid syntax (<ipython-input-32-802fca76d714>, line 1)

## Working with CSV files
The so-called CSV (Comma Separated Values) format is the most common import and export format for spreadsheets and databases.

We can use Python without any modules to read CSV files, first we need to import the `csv` module using the `import` keyword

In [ ]:
# Import the csv module
import csv

with open('cereal.csv', newline='') as csvfile:
    read = csv.reader(csvfile, delimiter=' ')
    for row in read:
        print(', '.join(row))

name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
100%, Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
100%, Natural, Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
All-Bran, with, Extra, Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912
Almond, Delight,R,C,110,2,2,200,1,14,8,-1,25,3,1,0.75,34.384843
Apple, Cinnamon, Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1,0.75,29.509541
Apple, Jacks,K,C,110,2,0,125,1,11,14,30,25,2,1,1,33.174094
Basic, 4,G,C,130,3,2,210,2,18,8,100,25,3,1.33,0.75,37.038562
Bran, Chex,R,C,90,2,1,200,4,15,6,125,25,1,1,0.67,49.120253
Bran, Flakes,P,C,90,3,0,210,5,13,5,190,25,3,1,0.67,53.313813
Cap'n'Crunch,Q,C,120,1,2,220,0,12,12,35,25,2,1,0.75,18.042851
Cheerios,G,C,110,6,2,290,2,17,1,105,25,1,1,1.25,50.764999
Cinnamon, Toast, Crunch,G,C,120,1,3,210,0,13,9,45,25,2,1,0.75,19.823573
Clusters,G,C,110,3,2,140,2,13,7,105,25,3,1,0.5,40.400208
Cocoa, Puffs,G,C,110,1,1,180,0,12,13,55,25,2,1,1,22.736446
Corn, Chex,R,C,110,2,0,280,0,22,3,25,25,1,1,1,41.445019
Corn, Flakes,K,C,100,2,0,290,1,21,2,35,25,1,1,1,45.863324
Corn, Pops,K,C,110,1,0,90,1,13,12,20,25,2,1,1,35.782791
Count, Chocula,G,C,110,1,1,180,0,12,13,65,25,2,1,1,22.396513
Cracklin', Oat, Bran,K,C,110,3,3,140,4,10,7,160,25,3,1,0.5,40.448772
Cream, of, Wheat, (Quick),N,H,100,3,0,80,1,21,0,-1,0,2,1,1,64.533816
Crispix,K,C,110,2,0,220,1,21,3,30,25,3,1,1,46.895644
Crispy, Wheat, &, Raisins,G,C,100,2,1,140,2,11,10,120,25,3,1,0.75,36.176196
Double, Chex,R,C,100,2,0,190,1,18,5,80,25,3,1,0.75,44.330856
Froot, Loops,K,C,110,2,1,125,1,11,13,30,25,2,1,1,32.207582
Frosted, Flakes,K,C,110,1,0,200,1,14,11,25,25,1,1,0.75,31.435973
Frosted, Mini-Wheats,K,C,100,3,0,0,3,14,7,100,25,2,1,0.8,58.345141
Fruit, &, Fibre, Dates;, Walnuts;, and, Oats,P,C,120,3,2,160,5,12,10,200,25,3,1.25,0.67,40.917047
Fruitful, Bran,K,C,120,3,0,240,5,14,12,190,25,3,1.33,0.67,41.015492
Fruity, Pebbles,P,C,110,1,1,135,0,13,12,25,25,2,1,0.75,28.025765
Golden, Crisp,P,C,100,2,0,45,0,11,15,40,25,1,1,0.88,35.252444
Golden, Grahams,G,C,110,1,1,280,0,15,9,45,25,2,1,0.75,23.804043
Grape, Nuts, Flakes,P,C,100,3,1,140,3,15,5,85,25,3,1,0.88,52.076897
Grape-Nuts,P,C,110,3,0,170,3,17,3,90,25,3,1,0.25,53.371007
Great, Grains, Pecan,P,C,120,3,3,75,3,13,4,100,25,3,1,0.33,45.811716
Honey, Graham, Ohs,Q,C,120,1,2,220,1,12,11,45,25,2,1,1,21.871292
Honey, Nut, Cheerios,G,C,110,3,1,250,1.5,11.5,10,90,25,1,1,0.75,31.072217
Honey-comb,P,C,110,1,0,180,0,14,11,35,25,1,1,1.33,28.742414
Just, Right, Crunchy, , Nuggets,K,C,110,2,1,170,1,17,6,60,100,3,1,1,36.523683
Just, Right, Fruit, &, Nut,K,C,140,3,1,170,2,20,9,95,100,3,1.3,0.75,36.471512
Kix,G,C,110,2,1,260,0,21,3,40,25,2,1,1.5,39.241114
Life,Q,C,100,4,2,150,2,12,6,95,25,2,1,0.67,45.328074
Lucky, Charms,G,C,110,2,1,180,0,12,12,55,25,2,1,1,26.734515
Maypo,A,H,100,4,1,0,0,16,3,95,25,2,1,1,54.850917
Muesli, Raisins;, Dates;, &, Almonds,R,C,150,4,3,95,3,16,11,170,25,3,1,1,37.136863
Muesli, Raisins;, Peaches;, &, Pecans,R,C,150,4,3,150,3,16,11,170,25,3,1,1,34.139765
Mueslix, Crispy, Blend,K,C,160,3,2,150,3,17,13,160,25,3,1.5,0.67,30.313351
Multi-Grain, Cheerios,G,C,100,2,1,220,2,15,6,90,25,1,1,1,40.105965
Nut&Honey, Crunch,K,C,120,2,1,190,0,15,9,40,25,2,1,0.67,29.924285
Nutri-Grain, Almond-Raisin,K,C,140,3,2,220,3,21,7,130,25,3,1.33,0.67,40.692320
Nutri-grain, Wheat,K,C,90,3,0,170,3,18,2,90,25,3,1,1,59.642837
Oatmeal, Raisin, Crisp,G,C,130,3,2,170,1.5,13.5,10,120,25,3,1.25,0.5,30.450843
Post, Nat., Raisin, Bran,P,C,120,3,1,200,6,11,14,260,25,3,1.33,0.67,37.840594
Product, 19,K,C,100,3,0,320,1,20,3,45,100,3,1,1,41.503540
Puffed, Rice,Q,C,50,1,0,0,0,13,0,15,0,3,0.5,1,60.756112
Puffed, Wheat,Q,C,50,2,0,0,1,10,0,50,0,3,0.5,1,63.005645
Quaker, Oat, Squares,Q,C,100,4,1,135,2,14,6,110,25,3,1,0.5,49.511874
Quaker, Oatmeal,Q,H,100,5,2,0,2.7,-1,-1,110,0,1,1,0.67,50.828392
Raisin, Bran,K,C,120,3,1,210,5,14,12,240,25,2,1.33,0.75,39.259197
Raisin, Nut, Bran,G,C,100,3,2,140,2.5,10.5,8,140,25,3,1,0.5,39.703400
Raisin, Squares,K,C,90,2,0,0,2,15,6,110,25,3,1,0.5,55.333142
Rice, Chex,R,C,110,1,0,240,0,23,2,30,25,1,1,1.13,41.998933
Rice, Krispies,K,C,110,2,0,290,0,22,3,35,25,1,1,1,40.560159
Shredded, Wheat,N,C,80,2,0,0,3,16,0,95,0,1,0.83,1,68.235885
Shredded, Wheat, 'n'Bran,N,C,90,3,0,0,4,19,0,140,0,1,1,0.67,74.472949
Shredded, Wheat, spoon, size,N,C,90,3,0,0,3,20,0,120,0,1,1,0.67,72.801787
Smacks,K,C,110,2,1,70,1,9,15,40,25,2,1,0.75,31.230054
Special, K,K,C,110,6,0,230,1,16,3,55,25,1,1,1,53.131324
Strawberry, Fruit, Wheats,N,C,90,2,0,15,3,15,5,90,25,2,1,1,59.363993
Total, Corn, Flakes,G,C,110,2,1,200,0,21,3,35,100,3,1,1,38.839746
Total, Raisin, Bran,G,C,140,3,1,190,4,15,14,230,100,3,1.5,1,28.592785
Total, Whole, Grain,G,C,100,3,1,200,3,16,3,110,100,3,1,1,46.658844
Triples,G,C,110,2,1,250,0,21,3,60,25,3,1,0.75,39.106174
Trix,G,C,110,1,1,140,0,13,12,25,25,2,1,1,27.753301
Wheat, Chex,R,C,100,3,1,230,3,17,3,115,25,1,1,0.67,49.787445
Wheaties,G,C,100,3,1,200,3,17,3,110,25,1,1,1,51.592193
Wheaties, Honey, Gold,G,C,110,2,1,200,1,16,8,60,25,1,1,0.75,36.187559

### Brief intro to Pandas
The code above works, but for this course we will be using a module named Pandas to work with our CSV data. If you want to know more about the native csv module, check out [this link](https://docs.python.org/3/library/csv.html)

Python is a library used for working with data. It can analyze, clean, explore and manipulate data. Pandas makes reading datasets very easy

In [ ]:
# Run only once to install the Pandas library
# Run this only if you have not added pandas via pip to your environment
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
# import our newly installed library
import pandas as pd # as pd is a shortname, we us this later

data = pd.read_csv('cereal.csv') # pd shortname
data.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

You can see the code above is easily more readable and relevant just by using pandas. The `.head()` will show the first 5 rows by default, you can specify how many rows you want to show by typing a different number in the `.head()` method.

In [ ]:
data.head(7)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.0,1.00,33.174094

In [ ]:
# You can define an index column by using the index_col parameter
data = pd.read_csv('cereal.csv', index_col='name')
data.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

To call a column simply use the column name

In [ ]:
data.calories

name
100% Bran                     70
100% Natural Bran            120
All-Bran                      70
All-Bran with Extra Fiber     50
Almond Delight               110
                            ...
Triples                      110
Trix                         110
Wheat Chex                   100
Wheaties                     100
Wheaties Honey Gold          110
Name: calories, Length: 77, dtype: int64

In [ ]:
# What data type is this?
type(data)

pandas.core.frame.DataFrame

In [ ]:
# And what data data is each of the columns
type(data.calories)

pandas.core.series.Series

In [ ]:
# You can also index the dataframe similar to a list
data.iloc[0]

mfr                 N
type                C
calories           70
protein             4
fat                 1
sodium            130
fiber            10.0
carbo             5.0
sugars              6
potass            280
vitamins           25
shelf               3
weight            1.0
cups             0.33
rating      68.402973
Name: 100% Bran, dtype: object

In [ ]:
data.iloc[15]

mfr                 R
type                C
calories          110
protein             2
fat                 0
sodium            280
fiber             0.0
carbo            22.0
sugars              3
potass             25
vitamins           25
shelf               1
weight            1.0
cups              1.0
rating      41.445019
Name: Corn Chex, dtype: object

In [ ]:
# We can also index by index name
data[data.index == 'Trix']

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.0,27.753301