<a href="https://colab.research.google.com/github/aliawofford9317/LSAMP_Python_Course2024/blob/juston/Copy_of_Week3TiiD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Take this list of fruit:

 "apple", "banana", "orange", "grape", "strawberry", "pineapple", "watermelon", "kiwi", "blueberry", "mango"

In a for loop, print the name of the fruit. Additionally, If the fruit name has 5 characters or less, print "Small name" else print "Big name"

In [ ]:
fruits = ["apple", "banana", "orange", "grape", "strawberry", "pineapple",
          "watermelon", "kiwi", "blueberry", "mango"]

for fruit in fruits:
  print(fruit)
  if len(fruit) <= 5:
    print("Small name")
  else:
    print("Big name")

apple
Small name
banana
Big name
orange
Big name
grape
Small name
strawberry
Big name
pineapple
Big name
watermelon
Big name
kiwi
Small name
blueberry
Big name
mango
Small name

In [ ]:
# For a more concise answer, move the print into a single line
fruits = ["apple", "banana", "orange", "grape", "strawberry", "pineapple",
          "watermelon", "kiwi", "blueberry", "mango"]
for fruit in fruits:
    if len(fruit) <= 5:
        print(f"{fruit}: Small name")
    else:
        print(f"{fruit}: Big name")

apple: Small name
banana: Big name
orange: Big name
grape: Small name
strawberry: Big name
pineapple: Big name
watermelon: Big name
kiwi: Small name
blueberry: Big name
mango: Small name

Today is my birthday and I am 29 years old. Write a while loop that to tell me what year I was born

Hint: n = 0, year = 2024, n < 29

In [ ]:
# If starting at 0 , use less than
n = 0
year = 2024
while n < 29:
  year = year - 1
  n = n + 1
print(year)

1995

In [ ]:
# If starting at 1 , use less than or equal
n = 1
year = 2024
while n <= 29:
  year = year - 1
  n = n + 1
print(year)

1995