<a href="https://colab.research.google.com/github/aliawofford9317/LSAMP_Python_Course2024/blob/DanielaaVargas/Lesson_2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Optional Exercise 1**
1.   Create a for loop that prints numbers from 1 to 20 in increments of 2 e.g. 2, 4, 6, 8, ...
2.   Create a for loop that prints from a list of words in a list. Create a second nested for loop that prints another word from a second list. Every word should from the first list shall be printed with every other word from the second list.

(Tip: You may want to use range(len(list_a)) to iterate over the length of the list.

Example output for exercise 2:

chicken sandwich chicken waffles chicken pizza chicken burrito...

veggie sandwich veggie waffles veggie pizza veggie burrito...)

In [8]:
numbers = []

for number in range (0,21,2):
  numbers.append(number)
numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
list_a = ["chicken", "veggie", "meat", "ham", "cheese", "beef", "chocolate"]
list_b = ["sandwich", "waffles", "pizza", "burrito", "soup", "salad", "smoothie"]

n=0
for item in list_a:
  for n in range(len(list_a)):
    print(item, list_b[n])
    n += 1

chicken sandwich
chicken waffles
chicken pizza
chicken burrito
chicken soup
chicken salad
chicken smoothie
veggie sandwich
veggie waffles
veggie pizza
veggie burrito
veggie soup
veggie salad
veggie smoothie
meat sandwich
meat waffles
meat pizza
meat burrito
meat soup
meat salad
meat smoothie
ham sandwich
ham waffles
ham pizza
ham burrito
ham soup
ham salad
ham smoothie
cheese sandwich
cheese waffles
cheese pizza
cheese burrito
cheese soup
cheese salad
cheese smoothie
beef sandwich
beef waffles
beef pizza
beef burrito
beef soup
beef salad
beef smoothie
chocolate sandwich
chocolate waffles
chocolate pizza
chocolate burrito
chocolate soup
chocolate salad
chocolate smoothie

# **Optional Exercise 2**
Write a program that takes two integer numbers and determines if the numbers are odd or even. Remember the input() and % function and operator.

Additional exercise: do the same computation as above, but for a list of numbers using a for loop and if statements.

In [22]:
int1 = int(input())
int2 = int(input())

if int1 % 2 == 0:
  print('The first number is even')
else:
  print('The first number is odd')

if int2 % 2 == 0:
  print('The second number is even')
else:
  print('The second number is odd')

0
19
The first number is even
The second number is odd

In [32]:
numbers = []
length = int(input('How many numbers do you want to introduce? '))
n=1
for n in range(1,length+1):
  item = int(input())
  numbers.append(item)
  n += 1

for item in numbers:
  if item % 2 ==0:
    print(f'\n{item} is even')
  else:
    print(f'\n{item} is odd')

How many numbers do you want to introduce? 1
1

1 is odd

# **Exercises for participation credit**
Please complete the following exercises and upload your completed notebook to your Github repository for participation credit.

* Write a for loop that adds all numbers from 1 to 100
* Using the list lst1=["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"] create a second list called lst2, iterate through the list and add the names to lst2 only if the element is different to an empty string.
* Take 3 numbers from the user using input() save the numbers to a list Take 3 more numbers from the user and save it to a second list. Iterate over both lists and multiply every number on the first list over every other number on the second list. Print the multiplication result only if the result is an even number, else print the words The result is odd.

In [36]:
Numbers = []
for i in range(1,101):
  Numbers.append(i)
Sum = sum(Numbers)
print('The sum of numbers from 1 to 100 is: ', Sum)

The sum of numbers from 1 to 100 is:  5050

In [37]:
lst1 = ["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"]
lst2 = []

for element in lst1:
  if element != "":
    lst2.append(element)
lst2

['Joe', 'Sarah', 'Mike', 'Jess', 'Matt', 'Greg']

In [55]:
list_1 = []
list_2 = []

for n in range (1,4):
  num = int(input())
  list_1.append(num)
  n += 1
print(list_1)

for n in range (1,4):
  num = int(input())
  list_2.append(num)
  n += 1
print(list_2)

24
245
0
[24, 245, 0]
24
53
45
[24, 53, 45]

In [56]:
for item in range(len(list_1)):
  product = list_1[item]*list_2[item]
  if product % 2 == 0:
    print(product)
  else:
    print('The result is odd')

576
The result is odd
0