<a href="https://colab.research.google.com/github/aliawofford9317/LSAMP_Python_Course2024/blob/DanielaaVargas/Lesson_3a_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Operating and Manipulating Data - Exercises**

---


Daniela Vargas, June 12, 2024

Brief description:

*   fetch_data() is a function intended to retrieve data from a specific source.
*   shutil is a python module containing functions to operate with files and directories (e.g. copying, moving or deleting)
*   os is a standard library module that provides functions for interacting with the operating system.

In [ ]:
def fetch_data():
  import os, shutil
  cwd = os.getcwd()
  if os.path.exists('LSAMP_Python_Course2024'):
    shutil.rmtree('LSAMP_Python_Course2024')
  !git clone https://github.com/aliawofford9317/LSAMP_Python_Course2024.git
  for file in os.listdir('LSAMP_Python_Course2024'):
    if file.endswith(('.txt', '.csv')):
      shutil.copy('LSAMP_Python_Course2024/{}'.format(file),cwd) #Current Working Directory (CWD): is the folder your Python is operating inside at the moment
fetch_data()

import os
os.getcwd

Cloning into 'LSAMP_Python_Course2024'...
remote: Enumerating objects: 135, done.
remote: Counting objects: 100% (65/65), done.
remote: Compressing objects: 100% (63/63), done.
remote: Total 135 (delta 34), reused 1 (delta 1), pack-reused 70
Receiving objects: 100% (135/135), 1.41 MiB | 4.29 MiB/s, done.
Resolving deltas: 100% (70/70), done.

# **SHORT EXERCISE 1**
Add all the masses from the planets in the planetary_data_2.txt.

In [ ]:
#For loop to extract the mass' column
Data = open('planetary_data_2.txt')
mass = []
for line in Data:
  splitLine = line.split(',')
  mass.append(splitLine[2]) #Creates a new list containing exclusively the masses of the planets
del mass[0]
mass

[' 60.83', ' 928.43', ' 1083.21', ' 163.18', ' 1431280']

In [ ]:
#Converting strings to float
Mass_float =[float(item) for item in mass]
Mass_float

[60.83, 928.43, 1083.21, 163.18, 1431280.0]

In [ ]:
#Adding the masses of the planets
total = 0
for value in Mass_float:
  total += value
print('The total mass of the planets is: ', total, ' kg')

The total mass of the planets is:  1433515.65  kg

# **SHORT EXERCISE 2**
* Read the data from planetary_data_2.txt, split the data by planet.
* Create a new list for every planet and add it to a nested list called list_planets. This list contains a list of all the planets and its data.
* Write a script that gets an integer number from the user using input().
* Return one of the planets from the list, where the index number is the number entered by the user.

In [ ]:
Data2 = open('planetary_data_2.txt')
Data2.read()

'Body, Radius (km), Mass (10e21 kg), Density (g/cm3), Gravity (m/s2)\nMercury, 2439.4, 60.83, 330.11, 5.4291, 3.70\nVenus,\t6052, 928.43, 4867.5, 5.243, 8.87\nEarth,\t6371.0084, 1083.21, 5972.4, 5.5136, 9.8\t\nMars, 3389.5, 163.18, 641.71, 3.9341, 3.71\nJupiter, 69911, 1431280, 1898187, 1.3262, 24.79'

In [ ]:
Data2 = open('planetary_data_2.txt')
list_planets = []
for line in Data2:
  splitL = line.split(',')
  list_planets.append(splitL)
del list_planets[0]
print(list_planets)

[['Mercury', ' 2439.4', ' 60.83', ' 330.11', ' 5.4291', ' 3.70\n'], ['Venus', '\t6052', ' 928.43', ' 4867.5', ' 5.243', ' 8.87\n'], ['Earth', '\t6371.0084', ' 1083.21', ' 5972.4', ' 5.5136', ' 9.8\t\n'], ['Mars', ' 3389.5', ' 163.18', ' 641.71', ' 3.9341', ' 3.71\n'], ['Jupiter', ' 69911', ' 1431280', ' 1898187', ' 1.3262', ' 24.79']]

In [ ]:
integer = int(input())

10

In [ ]:
if integer <= len(list_planets):
  LIST = list_planets[integer]
  print(LIST[0])
else:
  print('Introduce a valid input')

Introduce a valid input

# **SHORT EXERCISE 3**
Create a script that writes numbers from 1 to 100, line by line to a text file.

In [2]:
dat = open("append.txt", 'w')
n = 1

while n <=100:
 dat.write(str(n) + "\n")
 n += 1
dat.close()

dat = open("append.txt", 'r')
print(dat.read())

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100