<a href="https://colab.research.google.com/github/aliawofford9317/LSAMP_Python_Course2024/blob/DanielaaVargas/Lesson_3b_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercise 1**
Create a new dataframe from the following data:

`data = {'ages': [23, 24, 25, 26, 27, 28], 'weight': [120, 130, 150, 160, 180, 190]}

You should now have two data columns ages and weight. Print only the ages column.

Select the row with age = 27 using .loc[]

In [1]:
import pandas as pd
data ={'ages': [23, 24, 25, 26, 27, 28], 'weight': [120, 130, 150, 160, 180, 190]}

DataFr = pd.DataFrame(data)
DataFr

   ages  weight
0    23     120
1    24     130
2    25     150
3    26     160
4    27     180
5    28     190

In [3]:
DataFr.loc[4]

ages       27
weight    180
Name: 4, dtype: int64

# **Optional Exercise 1**
* Can you find the average sugar content of the cereals which list the portion cups size as 1.0?
* Can you find the highest and lowest calorie content of the previous selection?

In [6]:
def fetch_data():
  import os, shutil
  cwd = os.getcwd()
  if os.path.exists("LSAMP_Python_Course2024"):
    shutil.rmtree("LSAMP_Python_Course2024")
  !git clone https://github.com/aliawofford9317/LSAMP_Python_Course2024.git
  for file in os.listdir("LSAMP_Python_Course2024"):
    if file.endswith((".txt",".csv")):
      shutil.copy("LSAMP_Python_Course2024/{}".format(file),cwd)
fetch_data()

Cloning into 'LSAMP_Python_Course2024'...
remote: Enumerating objects: 141, done.
remote: Counting objects: 100% (71/71), done.
remote: Compressing objects: 100% (68/68), done.
remote: Total 141 (delta 36), reused 1 (delta 1), pack-reused 70
Receiving objects: 100% (141/141), 1.41 MiB | 6.31 MiB/s, done.
Resolving deltas: 100% (72/72), done.

In [59]:
cereal = pd.read_csv('cereal.csv', index_col='name')
Cereal = cereal.loc[cereal['cups'] == 1]

In [60]:
LIST = Cereal.sugars.values.tolist() #converting the Series of sugar into a list

sug = 0
for n in range(len(LIST)): #Summing the sugar
  sug += LIST[n]
Avg = sug/len(LIST)
print(f'The average sugars in cereals of serving portion = 1 cup is: {Avg} kg')

The average sugars in cereals of serving portion = 1 cup is: 6.4 kg

In [61]:
HighestCal = Cereal['calories'].idxmax()
HighestCal

'Muesli Raisins; Dates; & Almonds'

In [62]:
LowestCal = Cereal['calories'].idxmin()
LowestCal

'Puffed Rice'

# **Optional Exercise 2**
How many cereals by manufacturer G have a higher calorie content than 100?

In [55]:
Ca_list = cereal.loc[cereal['calories'] > 100]
print(f'There are {Ca_list.shape[0]} cereals with calorie content higher than 100')

There are 47 cereals with calorie content higher than 100

# **Optional exercise**
Fill out the metascore missing values with the mean of metascores.
Verify that the movies DF has no null values.

In [163]:
movies = pd.read_csv("IMDB-Movie-Data.csv", index_col='Title')

In [164]:
Mscore = movies['Metascore']
Mscore_mean = Mscore.mean().round(2)
Mscore_mean

58.99

In [165]:
Mscore.isnull().sum()

64

In [167]:
Mscore.fillna(Mscore_mean, inplace=True)

In [160]:
Mscore.isnull().sum()

0

# **Optional Exercise**
Select the movies with ratings between 6.0 and 8.5 released between 2010 and 2016. Save this selection to a variable.
Select movies with runtime greater than 120 and rating greater or equal to 8.0. Save this selection to a variable.
Save these two selections to two .csv files using the df.to_csv('name_of_csv.csv') function. Where 'df' is the name of your DataFrame

In [195]:
Movra= movies.loc[(6.0<=movies['Rating']) & (movies['Rating']<=8.5)]
Movra.to_csv('MovieRatings.csv')
df_read = pd.read_csv('MovieRatings.csv')
print(df_read)

                       Title  Rank                     Genre  \
0    Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
1                 Prometheus     2  Adventure,Mystery,Sci-Fi
2                      Split     3           Horror,Thriller
3                       Sing     4   Animation,Comedy,Family
4              Suicide Squad     5  Action,Adventure,Fantasy
..                       ...   ...                       ...
805         Taare Zameen Par   992        Drama,Family,Music
806     Take Me Home Tonight   993      Comedy,Drama,Romance
807                Project X   995                    Comedy
808     Secret in Their Eyes   996       Crime,Drama,Mystery
809   Step Up 2: The Streets   998       Drama,Music,Romance

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
805  An eight-year-old boy is thought to be a lazy ...            Aamir Khan
806  Four years after graduation, an awkward high s...         Michael Dowse
807  3 high school seniors throw a birthday party t...       Nima Nourizadeh
808  A tight-knit team of rising investigators, alo...             Billy Ray
809  Romantic sparks occur between two dance studen...            Jon M. Chu

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
805  Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...  2007
806  Topher Grace, Anna Faris, Dan Fogler, Teresa P...  2011
807  Thomas Mann, Oliver Cooper, Jonathan Daniel Br...  2012
808  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
809  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13      76.00
1                  124     7.0  485820              126.46      65.00
2                  117     7.3  157606              138.12      62.00
3                  108     7.2   60545              270.32      59.00
4                  123     6.2  393727              325.02      40.00
..                 ...     ...     ...                 ...        ...
805                165     8.5  102697                1.20      42.00
806                 97     6.3   45419                6.92      58.99
807                 88     6.7  164088               54.72      48.00
808                111     6.2   27585                 NaN      45.00
809                 98     6.2   70699               58.01      50.00

[810 rows x 12 columns]

In [196]:
Movru = movies.loc[(8.0<=movies['Rating']) & (movies['Runtime (Minutes)']>120)]
Movru.to_csv('MovieRuntime.csv')
df_read = pd.read_csv('MovieRuntime.csv')
print(df_read)

                                           Title  Rank  \
0                        Guardians of the Galaxy     1
1                                     La La Land     7
2                                  Hacksaw Ridge    17
3                        Bahubali: The Beginning    27
4                                   Interstellar    37
5     Star Wars: Episode VII - The Force Awakens    51
6                                The Dark Knight    55
7                                   The Prestige    65
8                                   The Avengers    77
9                           Inglourious Basterds    78
10                                     Inception    81
11                       The Wolf of Wall Street    83
12                                     Gone Girl    84
13                                     Prisoners    91
14                                      The Help    93
15                                  The Departed   100
16                                   The Martian   103
17                              12 Years a Slave   112
18  Harry Potter and the Deathly Hallows: Part 2   115
19                                        Dangal   118
20                         The Dark Knight Rises   125
21                                  The Revenant   130
22                        No Country for Old Men   137
23                                Shutter Island   139
24                                     Star Trek   141
25                              Django Unchained   145
26                                     Ah-ga-ssi   146
27                    X-Men: Days of Future Past   163
28                                 Casino Royale   165
29                                           Her   174
30                                    Forushande   185
31                                     Spotlight   193
32                                       Warrior   195
33                                 Into the Wild   198
34                           There Will Be Blood   300
35                                          Rush   335
36                                      3 Idiots   431
37                           The Lives of Others   477
38                                         Mommy   609
39                              Relatos salvajes   642
40                                 Blood Diamond   670
41                                     Incendies   714
42                        El secreto de sus ojos   743
43                                            PK   766
44                                Koe no katachi   862
45                              Taare Zameen Par   992

                        Genre  \
0     Action,Adventure,Sci-Fi
1          Comedy,Drama,Music
2     Biography,Drama,History
3      Action,Adventure,Drama
4      Adventure,Drama,Sci-Fi
5    Action,Adventure,Fantasy
6          Action,Crime,Drama
7        Drama,Mystery,Sci-Fi
8               Action,Sci-Fi
9         Adventure,Drama,War
10    Action,Adventure,Sci-Fi
11     Biography,Comedy,Crime
12        Crime,Drama,Mystery
13        Crime,Drama,Mystery
14                      Drama
15       Crime,Drama,Thriller
16     Adventure,Drama,Sci-Fi
17    Biography,Drama,History
18    Adventure,Drama,Fantasy
19     Action,Biography,Drama
20            Action,Thriller
21   Adventure,Drama,Thriller
22       Crime,Drama,Thriller
23           Mystery,Thriller
24    Action,Adventure,Sci-Fi
25              Drama,Western
26      Drama,Mystery,Romance
27    Action,Adventure,Sci-Fi
28  Action,Adventure,Thriller
29       Drama,Romance,Sci-Fi
30             Drama,Thriller
31        Crime,Drama,History
32         Action,Drama,Sport
33  Adventure,Biography,Drama
34              Drama,History
35     Action,Biography,Drama
36               Comedy,Drama
37             Drama,Thriller
38                      Drama
39      Comedy,Drama,Thriller
40   Adventure,Drama,Thriller
41          Drama,Mystery,War
42      Drama,Mystery,Romance
43       Comedy,Drama,Romance
44    Animation,Drama,Romance
45         Drama,Family,Music

                                          Description  \
0   A group of intergalactic criminals are forced ...
1   A jazz pianist falls for an aspiring actress i...
2   WWII American Army Medic Desmond T. Doss, who ...
3   In ancient India, an adventurous and daring ma...
4   A team of explorers travel through a wormhole ...
5   Three decades after the defeat of the Galactic...
6   When the menace known as the Joker wreaks havo...
7   Two stage magicians engage in competitive one-...
8   Earth's mightiest heroes must come together an...
9   In Nazi-occupied France during World War II, a...
10  A thief, who steals corporate secrets through ...
11  Based on the true story of Jordan Belfort, fro...
12  With his wife's disappearance having become th...
13  When Keller Dover's daughter and her friend go...
14  An aspiring author during the civil rights mov...
15  An undercover cop and a mole in the police att...
16  An astronaut becomes stranded on Mars after hi...
17  In the antebellum United States, Solomon North...
18  Harry, Ron and Hermione search for Voldemort's...
19  Former wrestler Mahavir Singh Phogat and his t...
20  Eight years after the Joker's reign of anarchy...
21  A frontiersman on a fur trading expedition in ...
22  Violence and mayhem ensue after a hunter stumb...
23  In 1954, a U.S. marshal investigates the disap...
24  The brash James T. Kirk tries to live up to hi...
25  With the help of a German bounty hunter , a fr...
26  A woman is hired as a handmaiden to a Japanese...
27  The X-Men send Wolverine to the past in a desp...
28  Armed with a licence to kill, Secret Agent Jam...
29  A lonely writer develops an unlikely relations...
30  While both participating in a production of "D...
31  The true story of how the Boston Globe uncover...
32  The youngest son of an alcoholic former boxer ...
33  After graduating from Emory University, top st...
34  A story of family, religion, hatred, oil and m...
35  The merciless 1970s rivalry between Formula On...
36  Two friends are searching for their long lost ...
37  In 1984 East Berlin, an agent of the secret po...
38  A widowed single mother, raising her violent s...
39  Six short stories that explore the extremities...
40  A fisherman, a smuggler, and a syndicate of bu...
41  Twins journey to the Middle East to discover t...
42  A retired legal counselor writes a novel hopin...
43  A stranger in the city asks questions no one h...
44  The story revolves around Nishimiya Shoko, a g...
45  An eight-year-old boy is thought to be a lazy ...

                            Director  \
0                         James Gunn
1                    Damien Chazelle
2                         Mel Gibson
3                     S.S. Rajamouli
4                  Christopher Nolan
5                        J.J. Abrams
6                  Christopher Nolan
7                  Christopher Nolan
8                        Joss Whedon
9                  Quentin Tarantino
10                 Christopher Nolan
11                   Martin Scorsese
12                     David Fincher
13                  Denis Villeneuve
14                       Tate Taylor
15                   Martin Scorsese
16                      Ridley Scott
17                     Steve McQueen
18                       David Yates
19                     Nitesh Tiwari
20                 Christopher Nolan
21       Alejandro González Iñárritu
22                        Ethan Coen
23                   Martin Scorsese
24                       J.J. Abrams
25                 Quentin Tarantino
26                    Chan-wook Park
27                      Bryan Singer
28                   Martin Campbell
29                       Spike Jonze
30                    Asghar Farhadi
31                      Tom McCarthy
32                    Gavin O'Connor
33                         Sean Penn
34              Paul Thomas Anderson
35                        Ron Howard
36                   Rajkumar Hirani
37  Florian Henckel von Donnersmarck
38                      Xavier Dolan
39                    Damián Szifron
40                      Edward Zwick
41                  Denis Villeneuve
42              Juan José Campanella
43                   Rajkumar Hirani
44                      Naoko Yamada
45                        Aamir Khan

                                               Actors  Year  \
0   Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1   Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....  2016
2   Andrew Garfield, Sam Worthington, Luke Bracey,...  2016
3   Prabhas, Rana Daggubati, Anushka Shetty,Tamann...  2015
4   Matthew McConaughey, Anne Hathaway, Jessica Ch...  2014
5   Daisy Ridley, John Boyega, Oscar Isaac, Domhna...  2015
6   Christian Bale, Heath Ledger, Aaron Eckhart,Mi...  2008
7   Christian Bale, Hugh Jackman, Scarlett Johanss...  2006
8   Robert Downey Jr., Chris Evans, Scarlett Johan...  2012
9   Brad Pitt, Diane Kruger, Eli Roth,Mélanie Laurent  2009
10  Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...  2010
11  Leonardo DiCaprio, Jonah Hill, Margot Robbie,M...  2013
12  Ben Affleck, Rosamund Pike, Neil Patrick Harri...  2014
13  Hugh Jackman, Jake Gyllenhaal, Viola Davis,Mel...  2013
14  Emma Stone, Viola Davis, Octavia Spencer, Bryc...  2011
15  Leonardo DiCaprio, Matt Damon, Jack Nicholson,...  2006
16  Matt Damon, Jessica Chastain, Kristen Wiig, Ka...  2015
17  Chiwetel Ejiofor, Michael Kenneth Williams, Mi...  2013
18  Daniel Radcliffe, Emma Watson, Rupert Grint, M...  2011
19  Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...  2016
20  Christian Bale, Tom Hardy, Anne Hathaway,Gary ...  2012
21  Leonardo DiCaprio, Tom Hardy, Will Poulter, Do...  2015
22  Tommy Lee Jones, Javier Bardem, Josh Brolin, W...  2007
23  Leonardo DiCaprio, Emily Mortimer, Mark Ruffal...  2010
24  Chris Pine, Zachary Quinto, Simon Pegg, Leonar...  2009
25  Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...  2012
26  Min-hee Kim, Jung-woo Ha, Jin-woong Jo, So-ri ...  2016
27  Patrick Stewart, Ian McKellen, Hugh Jackman, J...  2014
28  Daniel Craig, Eva Green, Judi Dench, Jeffrey W...  2006
29  Joaquin Phoenix, Amy Adams, Scarlett Johansson...  2013
30  Taraneh Alidoosti, Shahab Hosseini, Babak Kari...  2016
31  Mark Ruffalo, Michael Keaton, Rachel McAdams, ...  2015
32  Tom Hardy, Nick Nolte, Joel Edgerton, Jennifer...  2011
33  Emile Hirsch, Vince Vaughn, Catherine Keener, ...  2007
34  Daniel Day-Lewis, Paul Dano, Ciarán Hinds,Mart...  2007
35  Daniel Brühl, Chris Hemsworth, Olivia Wilde,Al...  2013
36    Aamir Khan, Madhavan, Mona Singh, Sharman Joshi  2009
37  Ulrich Mühe, Martina Gedeck,Sebastian Koch, Ul...  2006
38  Anne Dorval, Antoine-Olivier Pilon, Suzanne Cl...  2014
39  Darío Grandinetti, María Marull, Mónica Villa,...  2014
40  Leonardo DiCaprio, Djimon Hounsou, Jennifer Co...  2006
41  Lubna Azabal, Mélissa Désormeaux-Poulin, Maxim...  2010
42  Ricardo Darín, Soledad Villamil, Pablo Rago,Ca...  2009
43  Aamir Khan, Anushka Sharma, Sanjay Dutt,Boman ...  2014
44     Miyu Irino, Saori Hayami, Aoi Yuki, Kenshô Ono  2016
45  Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...  2007

    Runtime (Minutes)  Rating    Votes  Revenue (Millions)  Metascore
0                 121     8.1   757074              333.13      76.00
1                 128     8.3   258682              151.06      93.00
2                 139     8.2   211760               67.12      71.00
3                 159     8.3    76193                6.50      58.99
4                 169     8.6  1047747              187.99      74.00
5                 136     8.1   661608              936.63      81.00
6                 152     9.0  1791916              533.32      82.00
7                 130     8.5   913152               53.08      66.00
8                 143     8.1  1045588              623.28      69.00
9                 153     8.3   959065              120.52      69.00
10                148     8.8  1583625              292.57      74.00
11                180     8.2   865134              116.87      75.00
12                149     8.1   636243              167.74      79.00
13                153     8.1   431185               60.96      74.00
14                146     8.1   342429              169.71      62.00
15                151     8.5   937414              132.37      85.00
16                144     8.0   556097              228.43      80.00
17                134     8.1   486338               56.67      96.00
18                130     8.1   590595              380.96      87.00
19                161     8.8    48969               11.15      58.99
20                164     8.5  1222645              448.13      78.00
21                156     8.0   499424              183.64      76.00
22                122     8.1   660286               74.27      91.00
23                138     8.1   855604              127.97      63.00
24                127     8.0   526324              257.70      82.00
25                165     8.4  1039115              162.80      81.00
26                144     8.1    33418                2.01      84.00
27                132     8.0   552298              233.91      74.00
28                144     8.0   495106              167.01      80.00
29                126     8.0   390531               25.56      90.00
30                124     8.0    22389                3.40      85.00
31                128     8.1   268282               44.99      93.00
32                140     8.2   355722               13.65      71.00
33                148     8.1   459304               18.35      73.00
34                158     8.1   400682               40.22      92.00
35                123     8.1   339722               26.90      75.00
36                170     8.4   238789                6.52      67.00
37                137     8.5   278103               11.28      89.00
38                139     8.1    33560                3.49      74.00
39                122     8.1   110100                3.08      77.00
40                143     8.0   422014               57.37      64.00
41                131     8.2    92863                6.86      80.00
42                129     8.2   144524               20.17      80.00
43                153     8.2   103279               10.57      51.00
44                129     8.4     2421                 NaN      80.00
45                165     8.5   102697                1.20      42.00