<a href="https://colab.research.google.com/github/aliawofford9317/LSAMP_Python_Course2024/blob/Payton-Brown/Payton%20B%20Lesson_1_Python_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lesson 1 - Python basics
In this lesson we will cover:
- What is a variable and how to declare it
- Python basic operators
- Data types in Python
- Lists
- Dictionaries
- Tuples
- Optional exercises

All along the lessons you will see comments on the code starting with `#`, these are comment lines and are used to describe what the code is doing

## What is a variable?

Imagine variables as containers to store data values.
We can asign values to these containers using the `=` sign.

In [ ]:
# Here we assign a to 4, and A to "Python"
a = 4
A = "Python"

In [ ]:
# Print the variables
print(a)
print(A)

4
Python

From the example above we can see that variables are case sensitive, so a variable named `Variable` will be different from another one called `variable`.
Variable names can consist of uppercase and lowercase letters, digits and underscore. The first character of a variable name cannot be a digit

In [ ]:
Varible = 55
varible = 49
print(Varible)
print(varible)

55
49

In [ ]:
a_variable = "hello"

### Reserved words in Python
For variable names:
- We can use number, letters and underscores
- Variables can include numbers, but not as the first character
- There are some reserverd words in Python that cannot be used as variable names:

`False	def	if	raise
None	del	import	return
True	elif	in	try
and	else	is	while
as	except	lambda	with
assert	finally	nonlocal	yield
break	for	not
class	from	or
continue	global	pass`

You can see this list any time by typing `help("keywords")

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

## Operators
We now know how to create variables. Lets explore the basic operators in Python. Operators are special symbols in Python that carry out arithmetic or logical computations

Arithmetic operators are used to perform mathematical operations like addition, substraction, multiplication, etc

| Symbol | Operator | Description |
|--------|----------|-------------|
|   +    | Addition |  Add two operands |
| - | Substraction | Substract two operands |
| * | Multiplication | Multiply two operands |
| / | Division | Divide two operands |
| % | Modulus | Remainder of the division of left operand by the right |
| // | Floor division |  Division that results into whole number adjusted to the left in the number line |
| ** | Exponent | Left operand raised to the power of right |

## Types
Each variable can be of a particular type, but this type does not needs to be declared when you create the variable, and can even be changed after they have been set

In [ ]:
n = 100 # variable of type integer
print(n)

100

In [ ]:
n = " Now Im a different variable of type string"
n

' Now Im a different variable of type string'

In [ ]:
# python allows for a chained variable assignments
a = b = c = 300
print(a,b,c)

300 300 300

Python is a highly object-oriented language. Every itme of data in Python is an object of a specific type or class. Consider the following code. Python does the following:
- Create a integer object
- Gives a value of 300
- Displays it to the console

In [ ]:
print(100)

100

To see the actual integer object you can use the `type()` function

In [ ]:
type(100)

int

## Basic Data Types
- Numeric (integer numbers, floating point)
- String (letters, characters)
- Boolean (True or False, 0 or 1)

### Integers
An integer value can be as big as you need it to be, this is only constrained by the amount of memory in the system. Python will interpret a sequence of decimal digits without any prefix to be a decimal number:

In [ ]:
print(123456789123456789123456789123456789123456789123456789123456789123456789123456789123456789)

123456789123456789123456789123456789123456789123456789123456789123456789123456789123456789

In [ ]:
print(10)

10

In [ ]:
#Binary representation
#use 0b prefix
print(0b10)

#Octal representation
#use 0O prefix
print(0O10)

#Hexadecimal representation
#use 0X prefix
print(0X10)

2
8
16

In [ ]:
## Quick Check for knowlege how would you check the data type for the following representations previous binary (0b10),Octal(0O10) and hexadecial (0X10) and what are they?

In [ ]:
#Answer for binary 0b10
type(0b10)

int

In [ ]:
# Answer for Octal for 0O10
type(0O10)

int

In [ ]:
#Answer for hexidecimal 0X10
type(0x10)

int

### Floating point numbers
The `float` type designates a floating-point number, which specifies a decimal point. This can also represent scientific notation using the character `e` or `E`

In [ ]:
3.14

3.14

In [ ]:
type(3.14)

float

In [ ]:
.99

0.99

In [ ]:
5e8

500000000.0

In [ ]:
type(5e8)

float

In [ ]:
5.67E-6

5.67e-06

In [ ]:
#We can also convert or cast a integer to a float with float().

float(10)

10.0

Almost all platforms represent Python float values as 64-bit “double-precision” values, according to the IEEE 754 standard. In that case, the maximum value a floating-point number can have is approximately 1.8 ⨉ 10308. Python will indicate a number greater than that by the string inf

In [ ]:
1.79e308

1.79e+308

In [ ]:
1.8e308

inf

The closest a nonzero number can be to zero is approximately 5.0 ⨉ 10-324. Anything closer to zero than that is effectively zero:

In [ ]:
5e-324

5e-324

In [ ]:
1e-325

0.0

In most cases the internal representation of a floating-point number is an approximation of the actual value. In practice, the difference between the actual value and the represented value is very small and should not usually cause significant problems.

In [ ]:
# == means 'is equal?' or 'is this equal to this?'
0.1 +0.2 == 0.3

False

In [ ]:
#Lets format our float numbers to have 17 decimal places
print( "0.1 = {0:.17f}".format(0.1))

0.1 = 0.10000000000000001

### Complex numbers
Complex numbers are specified as `<real part>+<imaginary part>j`. You can print only the real or imaginary part by using `.imag` or `.real`

In [ ]:
2+5j

(2+5j)

In [ ]:
type(2+5j)

complex

In [ ]:
comp = 1+2j
comp.real

1.0

In [ ]:
# try printing the imaginary part
comp.imag

2.0

### Strings
Strings are sequences of character data. In Python this is called `str`.
Strings can be limited by single or double quotes.

In [ ]:
#Try printing using This is a string using and check data type ""
print("This is a string")
type("What is my type?")

This is a string

str

In [ ]:
# Try printing string using '' and check the data type
print('This is a string')
type('am I a string')

This is a string

str

A string can contain as many characters as you wish. The only limit is the computer memory. A string can also be empty.

In [ ]:
''
type('')

str

In [ ]:
#Double and single quotes can be combined

print('" HI HOW ARE YOU "')

" HI HOW ARE YOU "

Here are some useful string functions, concatenation and indexing

In [ ]:
message = "what do you like?"
# length of string
len(message)

17

In [ ]:
# Make upper-case. See also str.lower()
message.upper()

'WHAT DO YOU LIKE?'

In [ ]:
# Make lower-case.
message.lower()

'what do you like?'

In [ ]:
# Capitalize. See also str.title()
message.capitalize()

'What do you like?'

In [ ]:
# Capitalize every first letter
message.title()

'What Do You Like?'

In [ ]:
# How to Concatenate or join two or more strings with +
message + " I like python"

'what do you like? I like python'

In [ ]:
# an astherisc * will multiply your string
like = "I like Python"
like * 5

'I like PythonI like PythonI like PythonI like PythonI like Python'

Indexing means accesing the individual elements or characters of a string (or list, as you will see later). To index a string use the `[]` brackets and the number you want to index. Just remember Python uses zero-based index.

In [ ]:
#indexing
like[0]

'I'

In [ ]:
print(like[0],like[2],like[3],like[4])

I l i k

In [ ]:
# A negative index will start counting from the right side
# Here is the last letter
like[-2]

'o'

### Optional Exercise
Create two string variables, one with your first name, another with your last name.
- Concatenate these two variables
- Index just the first letter of your name and the first letter of your last name using `[]`, concatenate and print these two characters.
- Can you print the initials of your first and last name but this time only in lowercase letters?
- Try to print the following rectangle using only string multiplication with `*`

`**************` \
`*            *` \
`*            *` \
`*            *` \
`*            *` \
`*            *` \
`**************`

### Boolean Type
Objects of Boolean type may have one of two values, `True` or `False`:
Expressions in Python are often evaluated in Boolean context, meaning they are interpreted to represent truth or falsehood.

In [ ]:
# Compare if 4 if less than 5

result = (4 < 5)
result

True

In [ ]:
type(result)

bool

In [ ]:
print(True, False)

True False

In [ ]:
# Not zero
bool(2014)

True

In [ ]:
# A zero is equal to False
bool(0)

False

In [ ]:
# Also not zero
bool(3.14)

True

In [ ]:
# try a bool on None
bool(None)

False

In [ ]:
# what about an Empty string bool
bool("")

False

In [ ]:
bool("abc")

True

In [ ]:
bool([1, 2, 3])

True

In [ ]:
# Empty list
bool([])

False

In [ ]:
bool(0.0)

False

In [ ]:
bool(1.0)

True

In [ ]:
int(True)

1

In [ ]:
int(False)

0

### Other useful data types
### Lists
Lists are mutable collections of objects, similar to arrays in other programming languages. Lists are defined in Python by enclosing a comma-separated sequence of objects in square brackets `[]`
- Lists are ordered
- Lists can contain different types of objects
- List objects can be accessed by index
- Lists can be nested to arbitrary depth e.g. list of lists
- Lists are mutable, they can be changed

In [ ]:
# Creating a string list
friends = ['John','Mary', 'Max', 'Wanda']
friends

['John', 'Mary', 'Max', 'Wanda']

In [ ]:
# Lists are ordered
# lists with the same elements in different order are not the same
a = [1,2,3,4,]
b = [2,1,3,4]

a == b

False

In [ ]:
a is b

False

In [ ]:
# Lists can contain different types of objects
c = [10, 3.14, 'hello', True]
c

[10, 3.14, 'hello', True]

In [ ]:
type(c)

list

In [ ]:
type(c[3])

bool

In [ ]:
# Lists can contain the same object multiple times
d = ['bark' , 'cat' , 'cat' , 'dog']

In [ ]:
# Lists objects can be accessed by index
d[0]

'bark'

In [ ]:
d[1]

'cat'

In [ ]:
# Remember a negative index counts from the end of the list
d[-4]

'bark'

Slicing a list means taking a range of the objects that exist in that list, this is done by the square brackets and two index numbers separated by `:` similar to this `[0:3]`. In a list `a`, `a[m:n]` returns the portion of a from index m to, but not including, index n

In [ ]:
#slicing list
friends
friends [0:2]

['John', 'Mary']

In [ ]:
# not including index 3
#friends[1:3]
friends[0:1]

['John']

In [ ]:
friends[3]

'Wanda'

In [ ]:
# Negative slicing is supported
friends[-3 : 4]

['Mary', 'Max', 'Wanda']

In [ ]:
# Omiting the first index starts at the beginning of the list
friends[:3]

['John', 'Mary', 'Max']

In [ ]:
# Omiting the second index extend the slice to the end of the list
friends[0:]

['John', 'Mary', 'Max', 'Wanda']

In [ ]:
# You can also specify a step
friends[0:4:2]

['John', 'Max']

In [ ]:
# Lets visualize step/stride with a numeric list
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Start in index 0, include all elements, step every 2 elements
numbers[0 :: 2]

[0, 2, 4, 6, 8]

In [ ]:
# You can also slice strings!
message = 'Hello'
message[:]

'Hello'

In [ ]:
message[2:5]

'llo'

The concatenation (+) and replication (*) operators:

In [ ]:
e = ['hello', 'yes', 'no']
e

['hello', 'yes', 'no']

In [ ]:
e + ['here' , 'my list']

['hello', 'yes', 'no', 'here', 'my list']

In [ ]:
e * 2

['hello', 'yes', 'no', 'hello', 'yes', 'no']

The len(), min(), and max() functions

In [ ]:
f = [5, 10, 15, 20, 25]
len(f)

5

In [ ]:
min(f)
# Try this function with a string list. Can you explain what is happening?

5

In [ ]:
max(f)
# Try this function with a string list. Can you explain what is happening?

25

Lists can be nested

In [ ]:
my_lists = [[1, 2, 3, 4], [10, 20, 30], ['hello', 'from', 'my list']]
my_lists

[[1, 2, 3, 4], [10, 20, 30], ['hello', 'from', 'my list']]

In [ ]:
my_lists[0]

[1, 2, 3, 4]

In [ ]:
# Accessing the second index
my_lists[0][2]

3

In [ ]:
my_lists[2]

['hello', 'from', 'my list']

Lists are mutable, meaning they can be changed

In [ ]:
groceries = ['eggs', 'cheese', 'milk', 'bread']
groceries

['eggs', 'cheese', 'milk', 'bread']

In [ ]:
groceries[2] = 'soy milk'

In [ ]:
groceries

['eggs', 'cheese', 'soy milk', 'bread']

In [ ]:
# delete an element with del()
del groceries[1]
groceries

['eggs', 'soy milk', 'bread']

In [ ]:
# Add a value at the end of a list with append
groceries.append('coffee')
groceries

['eggs', 'soy milk', 'bread', 'coffee']

In [ ]:
# sort a list
groceries.sort()
groceries

['bread', 'coffee', 'eggs', 'soy milk']

In [ ]:
ages = [22, 18, 15, 25, 26, 19, 35, 42]
ages

[22, 18, 15, 25, 26, 19, 35, 42]

In [ ]:
ages.sort()
ages

[15, 18, 19, 22, 25, 26, 35, 42]

In [ ]:
# Invert a list
ages

[15, 18, 19, 22, 25, 26, 35, 42]

In [ ]:
ages[::-1]

[42, 35, 26, 25, 22, 19, 18, 15]

In [ ]:
# Delete an element from a specified index
ages.pop(2)
ages

[15, 18, 22, 25, 26, 35, 42]

In [ ]:
# You can also specify a value to remove with .remove()
ages.remove(25)
ages

[15, 18, 22, 26, 35, 42]

In [ ]:
# Insert a value at a specified index
ages.insert(2, 30)
ages

[15, 18, 30, 22, 26, 35, 42]

### Tuples
Tuples are static ordered collections of objects.
Tuples are identical to lists except in the following:
- Tuples are defined by `()`
- Tuples are inmutable, they cannot change

In [ ]:
t = ('here','is', 'a', 'tuple')
t

('here', 'is', 'a', 'tuple')

In [ ]:
t[0]

'here'

In [ ]:
t[0:]

('here', 'is', 'a', 'tuple')

In [ ]:
t[-1]

'tuple'

In [ ]:
t[1:3]

('is', 'a')

In [ ]:
# you cannot modify a tuple
t = [1, 2, 3, 4]
t[2] = 'one'

Why use a tuple?
Program execution is faster when manipulating a tuple than it is for the equivalent list. (This is probably not going to be noticeable when the list or tuple is small.)

Sometimes you don’t want data to be modified. If the values in the collection are meant to remain constant for the life of the program, using a tuple instead of a list guards against accidental modification.

### Finally, dictionaries
Dictionaries and lists share the following characteristics:

- Both are mutable.
- Both are dynamic. They can grow and shrink as needed.
- Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

Dictionaries differ from lists primarily in how elements are accessed:

- List elements are accessed by their position in the list, via indexing.
- Dictionary elements are accessed via keys.

`{key:value}`

In [ ]:
d = {'USA': 'Baseball', 'Canada':'Hockey','Mexico': 'Soccer'}
d

{'USA': 'Baseball', 'Canada': 'Hockey', 'Mexico': 'Soccer'}

In [ ]:
# To access a value, call the dictionary key
d['USA']

'Baseball'

In [ ]:
# Dictionaries can be changed
d['USA'] = 'Football'
d

{'USA': 'Football', 'Canada': 'Hockey', 'Mexico': 'Soccer'}

In [ ]:
# To add a new key value just assign a new one
d['Chile'] = 'Bird watching'
d

{'USA': 'Football',
 'Canada': 'Hockey',
 'Mexico': 'Soccer',
 'Chile': 'Bird watching'}

In [ ]:
# Updating an entry works similarly
d['Chile']= 'Surfing'
d

{'USA': 'Football', 'Canada': 'Hockey', 'Mexico': 'Soccer', 'Chile': 'Surfing'}

In [ ]:
# To delete an element use the del statement and the key
del d['Mexico']
d

{'USA': 'Football', 'Canada': 'Hockey', 'Chile': 'Surfing'}

In [ ]:
# Integers can also be used as keys
d2 = {3: 'd', 2: 'c', 1: 'b', 0: 'a'}
d2

{3: 'd', 2: 'c', 1: 'b', 0: 'a'}

In [ ]:
d2[0]

'a'

In [ ]:
d3 = {}

d3['names'] = ['Jon', 'Bob', 'Randy']
d3['ages'] = [ 25, 26, 27]
d3['pets'] = {'dog' : 'Max', 'cat' : 'Butter', 'turtle' : 'Speedy'}

d3

{'names': ['Jon', 'Bob', 'Randy'],
 'ages': [25, 26, 27],
 'pets': {'dog': 'Max', 'cat': 'Butter', 'turtle': 'Speedy'}}

In [ ]:
# Access a nested dictionary value
d3['pets']['cat']

'Butter'

In [ ]:
# Access a nested list value
d3['ages'][2]

27

Some dictionary methods
- keys()
- values()
- clear()
- pop()

In [ ]:
# Return keys in dictionary
d3.keys()

dict_keys(['names', 'ages', 'pets'])

In [ ]:
# Return values in dictionary
d3.values()

dict_values([['Jon', 'Bob', 'Randy'], [25, 26, 27], {'dog': 'Max', 'cat': 'Butter', 'turtle': 'Speedy'}])

In [ ]:
d3.pop('pets')

{'dog': 'Max', 'cat': 'Butter', 'turtle': 'Speedy'}

In [ ]:
d3

{'names': ['Jon', 'Bob', 'Randy'], 'ages': [25, 26, 27]}

In [ ]:
# Clear a dictionary
d3.clear()
d3

{}

## Converting Data types
- To convert to String `str()`
- To convert to Integer `int()`
- To convert to Float `float()`
- To convert to Bool `bool()`

In [ ]:
age = 23
str(age)

'23'

In [ ]:
print(str(age) + " years old")

23 years old

## Exercises for participation credit
Please complete the following exercises and upload your completed notebook to your Github repository for participation credit.

We can use `input()` to catch input from the user. This is a string type variable.

In [ ]:
x = input('Enter your value ')
print(x)

Enter your value 8
8

1. Write a code that gets two integers from the user. Save the first input as `a` and the second value as `b`. Run and print the following operations:
 - a + b
 - a - b
 - a * b
 - a ** b
 - a / b

2. Reverse this list aList = [100, 200, 300, 400, 500]. Expected result = [500, 400, 300, 200, 100]

3. Create the following list ` ['My', 'name', 'is', 'Kelly']`

Using only these two lists:
- `list1 = ["M", "na", "i", "Ke"]`
- `list2 = ["y", "me", "s", "lly"]`

4. Split the following list in 3 equal sized lists. Invert the the new lists
- Original list [11, 45, 8, 23, 14, 12, 78, 45, 89]


- Chunk 1 [11, 45, 8]

After reversing it [8, 45, 11]

- Chunk 2 [23, 14, 12]

After reversing it [12, 14, 23]

- Chunk 3 [78, 45, 89]

After reversing it [89, 45, 78]

In [ ]:
olist = [11, 45, 8, 23, 14, 12, 78, 45, 89]

#chunk 1
olist1 = olist[0:3]
olist1.reverse()

#chunk 2
olist2= olist[3:6]
olist2.reverse()

#chunk3
olist3= olist[6:9]
olist3.reverse()

print(olist1)
print(olist2)
print(olist3)

[8, 45, 11]
[12, 14, 23]
[89, 45, 78]